
<div class="footer-menu">
    <a href="#"><i class="fas fa-play-circle"></i> リンク</a>
    <a href="#"><i class="fas fa-play-circle"></i> 利用規約</a>
</div>
<div class="copyright">2020 &copy; Belc Labor Union All rights reserved.</div>
