<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header class="navbar">
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="page-content">
        <div class="title">
            <h2>pages</h2>
        </div>
        <div class="content">
            <ol style="font-size: 15px;">
                <li value="1">
                    <a href="/1-2"><strong>page1-2</strong></2>
                </li>
                <li>
                    <a href="/1-3"><strong>page1-3</strong></2>
                </li>
                <li>
                    <a href="/1-4"><strong>page1-4</strong></2>
                </li>
                <li>
                    <a href="/1-5"><strong>page1-5</strong></2>
                </li>
                <li>
                    <a href="/1-6"><strong>page1-6</strong></2>
                </li>
                <li>
                    <a href="/1-7"><strong>page1-7</strong></2>
                </li>
                <li>
                    <a href="/1-8"><strong>page1-8</strong></2>
                </li>
                <li>
                    <a href="/2-1"><strong>page2-1</strong></2>
                </li>
                <li>
                    <a href="/2-2"><strong>page2-2</strong></2>
                </li>
                <li>
                    <a href="/2-3"><strong>page2-3</strong></2>
                </li>
                <li>
                    <a href="/3-1"><strong>page3-1</strong></2>
                </li>
                <li>
                    <a href="/3-2"><strong>page3-2</strong></2>
                </li>
                <li>
                    <a href="/3-3"><strong>page3-3</strong></2>
                </li>
                <li>
                    <a href="/3-4"><strong>page3-4</strong></2>
                </li>
                <li>
                    <a href="/3-5"><strong>page3-5</strong></2>
                </li>
                <li>
                    <a href="/4-1"><strong>page4-1</strong></2>
                </li>
                <li>
                    <a href="/4-2"><strong>page4-2</strong></2>
                </li>
                <li>
                    <a href="/4-3"><strong>page4-3</strong></2>
                </li>
                <li>
                    <a href="/4-4"><strong>page4-4</strong></2>
                </li>
                <li>
                    <a href="/4-5"><strong>page4-5</strong></2>
                </li>
                <li>
                    <a href="/5-1"><strong>page5-1</strong></2>
                </li>
                <li>
                    <a href="/5-2"><strong>page5-2</strong></2>
                </li>
                <li>
                    <a href="/5-3"><strong>page5-3</strong></2>
                </li>
                <li>
                    <a href="/6-1"><strong>page6-1</strong></2>
                </li>
                <li>
                    <a href="/6-2"><strong>page6-2</strong></2>
                </li>
                <li>
                    <a href="/6-3"><strong>page6-3</strong></2>
                </li>
                <li>
                    <a href="/0"><strong>page0</strong></2>
                </li>
                <li>
                    <a href="/7-1"><strong>page7-1</strong></2>
                </li>
                <li>
                    <a href="/7-2"><strong>page7-2</strong></2>
                </li>
                <li>
                    <a href="/7-3"><strong>page7-3</strong></2>
                </li>
                <li>
                    <a href="/8-1"><strong>page8-1</strong></2>
                </li>
                <li>
                    <a href="/8-2"><strong>page8-2</strong></2>
                </li>
                <li>
                    <a href="/8-3"><strong>page8-3</strong></2>
                </li>
                <li>
                    <a href="/8-4"><strong>page8-4</strong></2>
                </li>

            </ol>
        </div>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>