<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>

    <%- include('../partials/header'); %>
    <div class="page-title">
        <h1>Photo</h1>
        <h4>フォト</h4>
    </div>
    <div class="topdec"></div>
    <div class="page-content">
        <div class="title">
            <h2>アルバム一覧</h2>
        </div>
        <div class="content">
            <form>               
                <div class="input-group">
                    <div class="input-label">カテゴリー検索</div>
                    <div class="form-input" style="display: flex;">
                        <select class="form-select"></select>
                        <input class="btn yellow search" type="button" value="> 検索" >
                    </div>
                </div>               
            </form>
            <div class="row">
                
                <div class="col-3 ">
                    <a href="#" class="icon-page-nav">
                        <div class="preview-panel">
                            <div class="preview">
                                <img class="preimg" src="resource/none.png">
                            </div>
                            <div class="row" style="display: flex;">
                                <div class="preview-category">カテゴリ</div>
                                <div class="preview-date">2020/10/26</div>
                            </div>
                            <div class="preview-content">タイトルタイトルタイトルタイトル</div>
                        </div>
                    </a>
                </div>
                
                <div class="col-3 ">
                    <a href="#" class="icon-page-nav">
                        <div class="preview-panel">
                            <div class="preview">
                                <img class="preimg" src="resource/none.png">
                            </div>
                            <div class="row" style="display: flex;">
                                <div class="preview-category">カテゴリ</div>
                                <div class="preview-date">2020/10/26</div>
                            </div>
                            <div class="preview-content">タイトルタイトルタイトルタイトル</div>
                        </div>
                    </a>
                </div>
                
                <div class="col-3 ">
                    <a href="#" class="icon-page-nav">
                        <div class="preview-panel">
                            <div class="preview">
                                <img class="preimg" src="resource/none.png">
                                <div class="center"></div>
                            </div>
                            <div class="row" style="display: flex;">
                                <div class="preview-category">カテゴリ</div>
                                <div class="preview-date">2020/10/26</div>
                            </div>
                            <div class="preview-content">タイトルタイトルタイトルタイトル</div>
                        </div>
                    </a>
                </div>
                
                <div class="col-3 ">
                    <a href="#" class="icon-page-nav">
                        <div class="preview-panel">
                            <div class="preview">
                                <img class="preimg" src="resource/none.png">
                            </div>
                            <div class="row" style="display: flex;">
                                <div class="preview-category">カテゴリ</div>
                                <div class="preview-date">2020/10/26</div>
                            </div>
                            <div class="preview-content">タイトルタイトルタイトルタイトル</div>
                        </div>
                    </a>
                </div>
                
                <div class="col-3 ">
                    <a href="#" class="icon-page-nav">
                        <div class="preview-panel">
                            <div class="preview">
                                <img class="preimg" src="resource/none.png">
                            </div>
                            <div class="row" style="display: flex;">
                                <div class="preview-category">カテゴリ</div>
                                <div class="preview-date">2020/10/26</div>
                            </div>
                            <div class="preview-content">タイトルタイトルタイトルタイトル</div>
                        </div>
                    </a>
                </div>
                
                <div class="col-3 ">
                    <a href="#" class="icon-page-nav">
                        <div class="preview-panel">
                            <div class="preview">
                                <img class="preimg" src="resource/none.png">
                            </div>
                            <div class="row" style="display: flex;">
                                <div class="preview-category">カテゴリ</div>
                                <div class="preview-date">2020/10/26</div>
                            </div>
                            <div class="preview-content">タイトルタイトルタイトルタイトル</div>
                        </div>
                    </a>
                </div>
                
                <div class="col-3 ">
                    <a href="#" class="icon-page-nav">
                        <div class="preview-panel">
                            <div class="preview">
                                <img class="preimg" src="resource/none.png">
                            </div>
                            <div class="row" style="display: flex;">
                                <div class="preview-category">カテゴリ</div>
                                <div class="preview-date">2020/10/26</div>
                            </div>
                            <div class="preview-content">タイトルタイトルタイトルタイトル</div>
                        </div>
                    </a>
                </div>
                
                <div class="col-3 ">
                    <a href="#" class="icon-page-nav">
                        <div class="preview-panel">
                            <div class="preview">
                                <img class="preimg" src="resource/none.png">
                            </div>
                            <div class="row" style="display: flex;">
                                <div class="preview-category">カテゴリ</div>
                                <div class="preview-date">2020/10/26</div>
                            </div>
                            <div class="preview-content">タイトルタイトルタイトルタイトル</div>
                        </div>
                    </a>
                </div>
                
                <div class="col-3 ">
                    <a href="#" class="icon-page-nav">
                        <div class="preview-panel">
                            <div class="preview">
                                <img class="preimg" src="resource/none.png">
                            </div>
                            <div class="row" style="display: flex;">
                                <div class="preview-category">カテゴリ</div>
                                <div class="preview-date">2020/10/26</div>
                            </div>
                            <div class="preview-content">タイトルタイトルタイトルタイトル</div>
                        </div>
                    </a>
                </div>
                
            </div>
        </div>
    </div>

    <div class="bottomdec"></div>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>