<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>

    <%- include('../partials/header'); %>

    <div class="page-title">
        <h1>Ticket</h1>
        <h4>チケット</h4>
    </div>
    
    <div class="topdec"></div>

    <div class="page-content">
        <div class="title">
            <h2>詳細・申し込み</h2>
        </div>
        <div class="content">           
            <table class="table">
                <thead>
                    <tr><th>種別</th>
                    <th>イベント名</th>
                    <th>注文可能枚数</th>
                    <th>通算最大注文数</th>
                    <th>有効期限</th>
                </tr></thead>
                <tbody>                  
                    
                    <tr>
                        <td>チケット</td>
                        <td>氷川きよし コンサートツアー2020 それぞれの花のように</td>
                        <td>10</td>
                        <td>1000</td>
                        <td>2020/11/04(水)</td>                        
                    </tr>
                    
                    <tr>
                        <td class="comment-cell" colspan="5">コメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメント</td>
                    </tr>
                    
                </tbody>
            </table>
            <center><button class="btn-confirm">> 申し込み</button></center>
        </div>
    </div>      
    
    <div class="bottomdec"></div>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>