<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>

    <%- include('../partials/header'); %>
    <div class="page-title">
        <h1>About</h1>
        <h4>ベルク労組について</h4>
    </div>
    <div class="topdec"></div>
    <div class="page-content">
        <div class="content" style="border:none;">
            <form class="form-changes">
                <div class="form-title">
                    <h2>ベルク労組について</h2>
                </div>
                <div class="form-body">
                    <center>
                        <div class="about">
                            <div class="content">  サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
                                サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
                                サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
                            </div>
                            <div class="content">  サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
                                サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプ
                                サンプルテキストサンプルテキストサンプルテキストサンプルテキストンプルテキストサンプルテ
                                キストサンプルテキストサンプルテキストサンプルテキストサンプルテキス
                            </div>
                        </div>
                    </center>
                </div>
                <div class="form-footer">
                    <input class="btn yellow" type="button" value="> ログインページへ" >
                </div>
            </form>
            <a href="#">< 戻る</a>
        </div>
    </div>

    <div class="bottomdec"></div>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>