<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>

    <%- include('../partials/header'); %>
    <div class="page-title">
        <h1>MY PAGE</h1>
        <h4>マイページ</h4>
    </div>
    <div class="topdec"></div>
    <div class="page-content">
        <div class="title">
            <h2>マイページ</h2>
        </div>
        <div class="content">
            <div class="row">
                <div class="column ">
                    <a href="#" class="icon-page-nav">
                        <div class="subpage">
                            <center><div class="account-page"></div></center>
                            <div class="subpage-title">アカウント編集</div>
                        </div>
                    </a>
                </div>
                <div class="column ">
                    <a href="#" class="icon-page-nav">
                        <div class="subpage">
                            <center><div class="history-page"></div></center>
                            <div class="subpage-title">申し込み履歴</div>
                        </div>
                    </a>
                </div>
                <div class="column ">
                    <a href="#" class="icon-page-nav">
                        <div class="subpage">
                            <center><div class="likehistory-page"></div></center>
                            <div class="subpage-title">いいね記事履歴</div>
                        </div>
                    </a>
                </div>
                <div class="column ">
                    <a href="#" class="icon-page-nav">
                        <div class="subpage">
                            <center><div class="mailhistory-page"></div></center>
                            <div class="subpage-title">メールBOX</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="bottomdec"></div>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>