<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>

    <%- include('../partials/header'); %>

    <div class="page-title">
        <h1>Event</h1>
        <h4>イベント</h4>
    </div>
    <div class="topdec"></div>
    <div class="page-content">
        <div class="title">
            <h2>イベント申し込み履歴</h2>
        </div>
        <div class="content">           
            <table class="table">
                <thead>
                    <tr><th>申込日時</th>
                    <th>種別</th>
                    <th>イベント名</th>
                    <th>枚数</th>
                    <th>変更・キャンセル</th>
                </tr></thead>
                <tbody>                  
                    
                    <tr>
                        <td>2020/11/04(水)</td>
                        <td>チケット</td>
                        <td>氷川きよし コンサートツアー2020 それぞれの花のように</td>
                        <td>2</td>
                        <td><button class="btn-detail">&gt; 詳細</button></td>
                    </tr>
                    
                    <tr>
                        <td>2020/11/04(水)</td>
                        <td>チケット</td>
                        <td>氷川きよし コンサートツアー2020 それぞれの花のように</td>
                        <td>2</td>
                        <td><button class="btn-detail">&gt; 詳細</button></td>
                    </tr>
                    
                    <tr>
                        <td>2020/11/04(水)</td>
                        <td>チケット</td>
                        <td>氷川きよし コンサートツアー2020 それぞれの花のように</td>
                        <td>2</td>
                        <td><button class="btn-detail">&gt; 詳細</button></td>
                    </tr>
                    
                    <tr>
                        <td>2020/11/04(水)</td>
                        <td>チケット</td>
                        <td>氷川きよし コンサートツアー2020 それぞれの花のように</td>
                        <td>2</td>
                        <td><button class="btn-detail">&gt; 詳細</button></td>
                    </tr>
                    
                    <tr>
                        <td>2020/11/04(水)</td>
                        <td>チケット</td>
                        <td>氷川きよし コンサートツアー2020 それぞれの花のように</td>
                        <td>2</td>
                        <td><button class="btn-detail">&gt; 詳細</button></td>
                    </tr>
                    
                    <tr>
                        <td>2020/11/04(水)</td>
                        <td>チケット</td>
                        <td>氷川きよし コンサートツアー2020 それぞれの花のように</td>
                        <td>2</td>
                        <td><button class="btn-detail">&gt; 詳細</button></td>
                    </tr>
                    
                    <tr>
                        <td>2020/11/04(水)</td>
                        <td>チケット</td>
                        <td>氷川きよし コンサートツアー2020 それぞれの花のように</td>
                        <td>2</td>
                        <td><button class="btn-detail">&gt; 詳細</button></td>
                    </tr>
                    
                   
                </tbody>
            </table>
            <a href="#">< 戻る</a>
        </div>
    </div>

    <div class="bottomdec"></div>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>