<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>

    <%- include('../partials/header'); %>
    <div class="page-title">
        <h1>Contact</h1>
        <h4>お問い合わせ</h4>
    </div>
    <div class="topdec"></div>
    <div class="page-content">
        <div class="title">
            <h2>お問合せフォーム</h2>
        </div>
        <div class="content">
            <form class="form-changes">
                <div class="form-title">
                    <h2>お問い合わせ内容入力</h2>
                </div>
                <div class="form-body">
                    <div class="input-group">
                        <div class="input-label">社員番号</div>
                        <div class="form-input sub-title"> : 自動反映</div>
                    </div>
                    <div class="input-group">
                        <div class="input-label">店舗／部署</div>
                        <div class="form-input sub-title"> : 自動反映</div>
                    </div>
                    <div class="input-group">
                        <div class="input-label">電話番号</div>
                        <div class="form-input sub-title"> : 自動反映</div>
                    </div>
                    <div class="input-group">
                        <div class="input-label">名前</div>
                        <div class="form-input sub-title"> : 自動反映</div>
                    </div>
                    <div class="input-group">
                        <div class="input-label">アドレス</div>
                        <div class="form-input sub-title"> : 自動反映</div>
                    </div>
                    <div class="input-group" style="height: 100px;">
                        <div class="input-label">内容</div>
                        <div class="form-input">
                            <textarea  style="height: 100px; width: 100%;" type="text"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-footer">
                    <input class="btn yellow" type="button" value="> 変更する" >
                </div>
            </form>
            <a href="#">< 戻る</a>
        </div>
    </div>

    <div class="bottomdec"></div>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>