<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <%- include('../partials/header'); %>
    <div class="page-title">
        <h1>Consultation</h1>
        <h4>相談</h4>
    </div>
    <div class="topdec"></div>
    <div class="page-content">
        <div class="content">
            <form class="form-changes chat-form">
                <div class="form-title">
                    <h2>トーク履歴</h2>
                </div>
                <div class="form-body chat-body">
                    
                        
                    <div class="message my-message"> 
                        <div class="avatar">
                            <img alt="" class="img-circle medium-image" src="resource/avatar1.png">
                            <div class="name">あなた</div>
                        </div>
                    
                        <div class="message-body">
                            <div class="message-text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</div>
                            <div class="message-footer">
                                <span class="message-data-time">2020/10/27 12:06:18</span>
                                <span class="thumb"><i class="far fa-thumbs-up" style="font-size: 25px;"></i></span>
                            </div>
                        </div>
                        <br>
                    </div>
            
                
                    <div class="message"> 
                        <div class="avatar">
                            <img alt="" class="img-circle medium-image" src="resource/avatar2.png">
                            <div class="name">労組</div>
                        </div>
                    
                        <div class="message-body">
                            <div class="message-text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</div>
                            <div class="message-footer">
                                <span class="message-data-time">2020/10/27 12:06:18</span>
                                <span class="thumb"><i class="far fa-thumbs-up" style="font-size: 25px;"></i></span>
                            </div>
                        </div>
                        <br>
                    </div>
            
                
                    <div class="message my-message"> 
                        <div class="avatar">
                            <img alt="" class="img-circle medium-image" src="resource/avatar1.png">
                            <div class="name">あなた</div>
                        </div>
                    
                        <div class="message-body">
                            <div class="message-text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</div>
                            <div class="message-footer">
                                <span class="message-data-time">2020/10/27 12:06:18</span>
                                <span class="thumb"><i class="far fa-thumbs-up" style="font-size: 25px;"></i></span>
                            </div>
                        </div>
                        <br>
                    </div>
            
                
                    <div class="message my-message"> 
                        <div class="avatar">
                            <img alt="" class="img-circle medium-image" src="resource/avatar1.png">
                            <div class="name">あなた</div>
                        </div>
                    
                        <div class="message-body">
                            <div class="message-text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</div>
                            <div class="message-footer">
                                <span class="message-data-time">2020/10/27 12:06:18</span>
                                <span class="thumb"><i class="far fa-thumbs-up" style="font-size: 25px;"></i></span>
                            </div>
                        </div>
                        <br>
                    </div>
            
        </div>
                <div class="form-footer" style="border-top: 1px solid black">
                    <div class="message-box">
                        <textarea class="message" style="width: 100%; height: 100%;outline: none;"></textarea>
                    </div>
                    <div class="send">
                        <input class="btn yellow" type="submit" value="> 送信" style="width: 100%;">
                    </div>
                </div>
            </form>
        <a href="#">< 戻る</a>
        </div>
    </div>
    
    <div class="bottomdec"></div>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>