<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>

    <%- include('../partials/header'); %>
    <div class="page-title">
        <h1>Dream</h1>
        <h4>My夢</h4>
    </div>
    <div class="topdec"></div>
    <div class="page-content">
        <div class="title">
            <h2>My夢インデックス</h2>
        </div>
        <div class="content">
            <form class="form-changes">
                <div class="form-title">
                    <h2>2020年</h2>
                </div>
                <div class="form-body">
                    <div class="row" style="padding:10px;">
                        <div class="col-4 ">
                        
                            <a href="#" class="icon-page-nav">
                                <div class="subpage">
                                    <div class="image-title">●月号</div>
                                    <div class="preview image-container">
                                        <img style="width: 100%;" src="resource/rectangle-black.png"/>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-4 ">
                            <a href="#" class="icon-page-nav">
                                <div class="subpage">
                                    <div class="image-title">募集企画：〇〇募集！</div>
                                    <div class="preview image-container">
                                        <img style="width: 100%;" src="resource/rectangle.png"/>
                                        <div class="centered">
                                            <div>募集</div><br>
                                            <img src="resource/plane.png">
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-4 ">
                            <a href="#" class="icon-page-nav">
                                <div class="subpage">
                                    <div class="image-title">●月号</div>
                                    <div class="preview image-container">
                                        <img style="width: 100%;" src="resource/rectangle-black.png"/>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-4 ">
                            <a href="#" class="icon-page-nav">
                                <div class="subpage">
                                    <div class="image-title">募集企画：〇〇募集！</div>
                                    <div class="preview image-container">
                                        <img style="width: 100%;" src="resource/rectangle.png"/>
                                        <div class="centered">
                                            <div>募集</div><br>
                                            <img src="resource/plane.png">
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </form><br><br>
            <form class="form-changes">
                <div class="form-title">
                    <h2>2019年</h2>
                </div>
                <div class="form-body">
                    <div class="row" style="padding:10px;">
                        <div class="col-4 ">
                        
                            <a href="#" class="icon-page-nav">
                                <div class="subpage">
                                    <div class="image-title">●月号</div>
                                    <div class="preview image-container">
                                        <img style="width: 100%;" src="resource/rectangle-black.png"/>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-4 ">
                            <a href="#" class="icon-page-nav">
                                <div class="subpage">
                                    <div class="image-title">募集企画：〇〇募集！</div>
                                    <div class="preview image-container">
                                        <img style="width: 100%;" src="resource/rectangle.png"/>
                                        <div class="centered">
                                            <div>募集</div><br>
                                            <img src="resource/plane.png">
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-4 ">
                            <a href="#" class="icon-page-nav">
                                <div class="subpage">
                                    <div class="image-title">●月号</div>
                                    <div class="preview image-container">
                                        <img style="width: 100%;" src="resource/rectangle-black.png"/>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-4 ">
                            <a href="#" class="icon-page-nav">
                                <div class="subpage">
                                    <div class="image-title">募集企画：〇〇募集！</div>
                                    <div class="preview image-container">
                                        <img style="width: 100%;" src="resource/rectangle.png"/>
                                        <div class="centered">
                                            <div>募集</div><br>
                                            <img src="resource/plane.png">
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="bottomdec"></div>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>