<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>

    <%- include('../partials/header'); %>

    <div class="page-title">
        <h1>News</h1>
        <h4>ニュース</h4>
    </div>
    <div class="topdec"></div>
    <div class="page-content">
        <div class="title">
            <h2>新着情報</h2>
        </div>
        <div class="content">
            <div class="row">
                
                            <div class="col-3 ">
                    <a href="#" class="icon-page-nav">
                        <div class="preview-panel">
                            <div class="preview">
                                <img class="preimg" src="resource/background.png">
                            </div>
                             <div class="row" style="display: flex;">
                                <div class="preview-category"><span style="background-color: yellow;">イベント</span></div>
                                <div class="preview-date">2020/10/26</div>
                            </div>
                            <div class="preview-content">タイトルタイトルタイトルタイトル</div>
                            <div class="prelike"><img style="width: 1em;" src="resource/like.png">&nbsp;&nbsp;365&nbsp;いいね！</div>
                        </div>
                    </a>
                </div>
                
                            <div class="col-3 ">
                    <a href="#" class="icon-page-nav">
                        <div class="preview-panel">
                            <div class="preview">
                                <img class="preimg" src="resource/background.png">
                            </div>
                             <div class="row" style="display: flex;">
                                <div class="preview-category"><span style="background-color: yellow;">イベント</span></div>
                                <div class="preview-date">2020/10/26</div>
                            </div>
                            <div class="preview-content">タイトルタイトルタイトルタイトル</div>
                            <div class="prelike"><img style="width: 1em;" src="resource/like.png">&nbsp;&nbsp;365&nbsp;いいね！</div>
                        </div>
                    </a>
                </div>
                
                            <div class="col-3 ">
                    <a href="#" class="icon-page-nav">
                        <div class="preview-panel">
                            <div class="preview">
                                <img class="preimg" src="resource/background.png">
                            </div>
                             <div class="row" style="display: flex;">
                                <div class="preview-category"><span style="background-color: yellow;">イベント</span></div>
                                <div class="preview-date">2020/10/26</div>
                            </div>
                            <div class="preview-content">タイトルタイトルタイトルタイトル</div>
                            <div class="prelike"><img style="width: 1em;" src="resource/like.png">&nbsp;&nbsp;365&nbsp;いいね！</div>
                        </div>
                    </a>
                </div>
                
                <div class="col-3 ">
                    <a href="#" class="icon-page-nav">
                        <div class="preview-panel">
                            <div class="preview">
                                <img class="preimg" src="resource/background.png">
                            </div>
                             <div class="row" style="display: flex;">
                                <div class="preview-category"><span style="background-color: yellow;">イベント</span></div>
                                <div class="preview-date">2020/10/26</div>
                            </div>
                            <div class="preview-content">タイトルタイトルタイトルタイトル</div>
                            <div class="prelike"><img style="width: 1em;" src="resource/like.png">&nbsp;&nbsp;365&nbsp;いいね！</div>
                        </div>
                    </a>
                </div>
                
                <div class="col-3 ">
                    <a href="#" class="icon-page-nav">
                        <div class="preview-panel">
                            <div class="preview">
                                <img class="preimg" src="resource/background.png">
                            </div>
                             <div class="row" style="display: flex;">
                                <div class="preview-category"><span style="background-color: yellow;">イベント</span></div>
                                <div class="preview-date">2020/10/26</div>
                            </div>
                            <div class="preview-content">タイトルタイトルタイトルタイトル</div>
                            <div class="prelike"><img style="width: 1em;" src="resource/like.png">&nbsp;&nbsp;365&nbsp;いいね！</div>
                        </div>
                    </a>
                </div>
                
                <div class="col-3 ">
                    <a href="#" class="icon-page-nav">
                        <div class="preview-panel">
                            <div class="preview">
                                <img class="preimg" src="resource/background.png">
                            </div>
                             <div class="row" style="display: flex;">
                                <div class="preview-category"><span style="background-color: yellow;">イベント</span></div>
                                <div class="preview-date">2020/10/26</div>
                            </div>
                            <div class="preview-content">タイトルタイトルタイトルタイトル</div>
                            <div class="prelike"><img style="width: 1em;" src="resource/like.png">&nbsp;&nbsp;365&nbsp;いいね！</div>
                        </div>
                    </a>
                </div>
                
                <div class="col-3 ">
                    <a href="#" class="icon-page-nav">
                        <div class="preview-panel">
                            <div class="preview">
                                <img class="preimg" src="resource/background.png">
                            </div>
                             <div class="row" style="display: flex;">
                                <div class="preview-category"><span style="background-color: yellow;">イベント</span></div>
                                <div class="preview-date">2020/10/26</div>
                            </div>
                            <div class="preview-content">タイトルタイトルタイトルタイトル</div>
                            <div class="prelike"><img style="width: 1em;" src="resource/like.png">&nbsp;&nbsp;365&nbsp;いいね！</div>
                        </div>
                    </a>
                </div>
                
                <div class="col-3 ">
                    <a href="#" class="icon-page-nav">
                        <div class="preview-panel">
                            <div class="preview">
                                <img class="preimg" src="resource/background.png">
                            </div>
                             <div class="row" style="display: flex;">
                                <div class="preview-category"><span style="background-color: yellow;">イベント</span></div>
                                <div class="preview-date">2020/10/26</div>
                            </div>
                            <div class="preview-content">タイトルタイトルタイトルタイトル</div>
                            <div class="prelike"><img style="width: 1em;" src="resource/like.png">&nbsp;&nbsp;365&nbsp;いいね！</div>
                        </div>
                    </a>
                </div>
                
                <div class="col-3 ">
                    <a href="#" class="icon-page-nav">
                        <div class="preview-panel">
                            <div class="preview">
                                <img class="preimg" src="resource/background.png">
                            </div>
                             <div class="row" style="display: flex;">
                                <div class="preview-category"><span style="background-color: yellow;">イベント</span></div>
                                <div class="preview-date">2020/10/26</div>
                            </div>
                            <div class="preview-content">タイトルタイトルタイトルタイトル</div>
                            <div class="prelike"><img style="width: 1em;" src="resource/like.png">&nbsp;&nbsp;365&nbsp;いいね！</div>
                        </div>
                    </a>
                </div>
                
                <div class="col-3 ">
                    <a href="#" class="icon-page-nav">
                        <div class="preview-panel">
                            <div class="preview">
                                <img class="preimg" src="resource/background.png">
                            </div>
                             <div class="row" style="display: flex;">
                                <div class="preview-category"><span style="background-color: yellow;">イベント</span></div>
                                <div class="preview-date">2020/10/26</div>
                            </div>
                            <div class="preview-content">タイトルタイトルタイトルタイトル</div>
                            <div class="prelike"><img style="width: 1em;" src="resource/like.png">&nbsp;&nbsp;365&nbsp;いいね！</div>
                        </div>
                    </a>
                </div>
                
                <div class="col-3 ">
                    <a href="#" class="icon-page-nav">
                        <div class="preview-panel">
                            <div class="preview">
                                <img class="preimg" src="resource/background.png">
                            </div>
                             <div class="row" style="display: flex;">
                                <div class="preview-category"><span style="background-color: yellow;">イベント</span></div>
                                <div class="preview-date">2020/10/26</div>
                            </div>
                            <div class="preview-content">タイトルタイトルタイトルタイトル</div>
                            <div class="prelike"><img style="width: 1em;" src="resource/like.png">&nbsp;&nbsp;365&nbsp;いいね！</div>
                        </div>
                    </a>
                </div>
                
                <div class="col-3 ">
                    <a href="#" class="icon-page-nav">
                        <div class="preview-panel">
                            <div class="preview">
                                <img class="preimg" src="resource/background.png">
                            </div>
                             <div class="row" style="display: flex;">
                                <div class="preview-category"><span style="background-color: yellow;">イベント</span></div>
                                <div class="preview-date">2020/10/26</div>
                            </div>
                            <div class="preview-content">タイトルタイトルタイトルタイトル</div>
                            <div class="prelike"><img style="width: 1em;" src="resource/like.png">&nbsp;&nbsp;365&nbsp;いいね！</div>
                        </div>
                    </a>
                </div>
                
            </div>
            <br><br><br>
            <div class="pagination">  
                <a class="active" href="#">1</a>
                <a class="" href="#">2</a>
                <a class="" href="#">3</a>
                <a class="" href="#">4</a>
            </div>
        </div>
    </div>
    <div class="bottomdec"></div>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>