<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>

    <%- include('../partials/header1'); %>
    <div class="page-title">
        <h1>Members Area</h1>
        <h4>組合員専用ページ</h4>
    </div>
    <div class="topdec"></div>
    <div class="page-content">
        <div class="content-no-border">
            <form class="form-changes">
                <div class="form-title">
                    <h2>登録内容確認</h2>
                </div>
                <div class="form-body">
                    <div class="input-group">
                        <div class="confirm-label">社員番号</div>
                        <h3 class="confirm-text"> : 1234567</h3>
                    </div>
                    <div class="input-group">
                        <div class="confirm-label">生年月日</div>
                        <h3 class="confirm-text" style="padding-left:33%; display:block;"> : 2020<span class="text-normal">年</span>12<span class="text-normal">月</span>12<span class="text-normal">日</span></h3>
                    </div>
                    <div class="input-group">
                        <div class="confirm-label">メールアドレス</div>
                        <h3 class="confirm-text"> : aaa@aaa.com</h3>
                    </div>
                </div>
                <div class="form-footer">
                    <input class="btn yellow" type="button" value="> 送信">
                </div><br><br><br>
            </form>
            <a href="#">< 戻る</a>
        </div>
    </div>
    <div class="bottomdec"></div>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>