<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>

    <%- include('../partials/header'); %>

    <div class="page-title">
        <h1>MY PAGE</h1>
        <h4>マイページ</h4>
    </div>
    <div class="topdec"></div>

    <div class="page-content">
        <div class="title">
            <h2>いいね記事履歴</h2>
        </div>
        <div class="content">           
            <table class="table">
                <thead>
                    <tr><th>カテゴリ</th>
                    <th>日付</th>
                    <th>タイトル</th>
                    <th>削除</th>
                </tr></thead>
                <tbody>                  
                    
                    <tr>
                        <td>カテゴリ</td>
                        <td>2020/11/04(水) 14時00分</td>
                        <td>タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル</td>
                        <td>
                            <a class="trash-item" href="#">
                                <center><div class="icon-trash">削除</div></center>
                            </a>
                        </td>
                    
                    </tr><tr>
                        <td>カテゴリ</td>
                        <td>2020/11/04(水) 14時00分</td>
                        <td>タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル</td>
                        <td>
                            <a class="trash-item" href="#">
                                <center><div class="icon-trash">削除</div></center>
                            </a>
                        </td>
                    
                    </tr><tr>
                        <td>カテゴリ</td>
                        <td>2020/11/04(水) 14時00分</td>
                        <td>タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル</td>
                        <td>
                            <a class="trash-item" href="#">
                                <center><div class="icon-trash">削除</div></center>
                            </a>
                        </td>
                    
                    </tr><tr>
                        <td>カテゴリ</td>
                        <td>2020/11/04(水) 14時00分</td>
                        <td>タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル</td>
                        <td>
                            <a class="trash-item" href="#">
                                <center><div class="icon-trash">削除</div></center>
                            </a>
                        </td>
                    
                    </tr><tr>
                        <td>カテゴリ</td>
                        <td>2020/11/04(水) 14時00分</td>
                        <td>タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル</td>
                        <td>
                            <a class="trash-item" href="#">
                                <center><div class="icon-trash">削除</div></center>
                            </a>
                        </td>
                    
                    </tr><tr>
                        <td>カテゴリ</td>
                        <td>2020/11/04(水) 14時00分</td>
                        <td>タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル</td>
                        <td>
                            <a class="trash-item" href="#">
                                <center><div class="icon-trash">削除</div></center>
                            </a>
                        </td>
                    </tr><tr>
                        <td>カテゴリ</td>
                        <td>2020/11/04(水) 14時00分</td>
                        <td>タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル</td>
                        <td>
                            <a class="trash-item" href="#">
                                <center><div class="icon-trash">削除</div></center>
                            </a>
                        </td>
                    
                    </tr>
                </tbody>
            </table>
            <a href="#">< 戻る</a>
        </div>
    </div>
    <div class="bottomdec"></div>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>