<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>

    <%- include('../partials/header1'); %>
    <div class="page-title">
        <h1>Members Area</h1>
        <h4>組合員専用ページ</h4>
    </div>
    <div class="topdec"></div>
    <div class="page-content">
        <div class="content-no-border">
            <form class="form-changes">
                <div class="form-title">
                    <h2>お問い合わせ内容確認</h2>
                </div>
                <div class="form-body">
                    <div class="input-group">
                        <div class="confirm-label">社員番号</div>
                        <h3 class="confirm-text"> : 1234567</h3>
                    </div>
                    <div class="input-group">
                        <div class="confirm-label">店舗 / 部署名</div>
                        <h3 class="confirm-text"> : 青果部</h3>
                    </div>
                    <div class="input-group">
                        <div class="confirm-label">名前</div>
                        <h3 class="confirm-text"> : ベルク太郎</h3>
                    </div>
                    <div class="input-group">
                        <div class="confirm-label">メールアドレス</div>
                        <h3 class="confirm-text"> : aaa@aaa.com</h3>
                    </div>
                    <div class="input-group">
                        <div class="confirm-label">電話番号</div>
                        <h3 class="confirm-text"> : 090-3333-3333</h3>
                    </div>
                    <div class="input-group">
                        <div class="confirm-label">お問い合わせ内容</div>
                        <h3 class="confirm-text"> : ログインができなくなりました</h3>
                    </div>
                </div>
                <div class="form-footer">
                    <input class="btn yellow" type="button" value="> お問い合わせ">
                </div><br><br><br>
            </form>
            <a href="#">< 戻る</a>
        </div>
    </div>
    <div class="bottomdec"></div>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>